@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --primary-color: #00004D;
    --secondary-color: #e97949;
}

* {
    margin: 0;
    padding: 0;

}

ul,
li,
p,
a {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

.button,
a:hover {
    color: #000;
}

img {
    width: 100%;
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

h1 {
    font-family: "Rubik", sans-serif;
}

h2 {
    text-align: center;
    color: var(--primary-color);
    font-size: 35px;
    padding-bottom: 50px;
    text-transform: capitalize;
}

/* navbar styling  */

.logo img {
    max-width: 200px;
}

.navbar {
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlink ul {
    display: flex;
    align-items: center;
}

.navlink ul li {
    font-size: 18px;
    margin: 0 25px 0 0;

}

.navlink ul li a {
    color: var(--secondary-color);
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
}

.navlink ul li a:hover {
    color: var(--primary-color);
}

.active {
    border-bottom: 2px solid var(--primary-color);
    color: var(--primary-color) !important;
}

.open {
    display: none;
}

.closebutton {
    display: none;
}

nav {
    background: #fff;
    font-size: 18px;
    padding: 14px 0;
    font-weight: 700;
    text-transform: capitalize;
    color: #000000;
}

/* 
nav.sticky {
    background: var(--primary-color);
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    padding: 10px 0;
    position: fixed;
} */

/* navbar stylng end */
a.button_main {
    background: var(--primary-color);
    padding: 10px 40px 10px 40px;
    border: 1px solid var(--primary-color);
    color: #fff;
    font-weight: 700;
}

.hotel_box button a {
    color: inherit;
}

a.button_main:hover {
    background: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

/* banner styling  start */
.hotel_banner {
    height: 600px;
    background-image: url(../image/homebanner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
}

.hotel_banner::before {
    position: absolute;
    content: '';
    background: #000000a8;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.banner_box h1 {
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.banner_box p {
    font-size: 18px;
    text-transform: capitalize;
}

.home_detail {
    padding: 60px 0;
}

.home_info {
    text-align: center;
    padding: 40px;
    border-bottom: 1px solid black;
    background: #f7f6f6;
    border-radius: 5px;
}

.home_detail .row {
    justify-content: center;
}

.home_info {
    margin-top: 20px;
}

.home_info img {
    width: 80px;
    margin-bottom: 20px;
}

.three_steps {
    padding: 60px 0;
}

.steps {
    text-align: center;
    padding: 40px;
    border-bottom: 1px solid black;
    box-shadow: 4px 3px 4px #dad6d6;
    border-radius: 10px;

}

.steps img {
    width: 100px;
}

.hotel_banner .row {
    position: relative;
    color: #fff;
}

/* banner styling end */
/* play banner start */
.play_banner {
    height: 500px;
    background-image: url(../image/playbanner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
}

.play_banner:before {
    position: absolute;
    content: '';
    background: #000000a8;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.detail_section {
    padding: 60px 0;
}

.detail_section ul li {
    list-style: disc;
    margin-left: 17px;
}

.detail_section h3 {
    margin-top: 15px;
}

.banner_head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    width: 80%;
    transform: translate(-50%, -50%);
}

/* play banner end */
/* about styling start */
.about_banner {
    height: 500px;
    background-image: url(../image/aboutbanner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
}

.about_banner:before {
    position: absolute;
    content: '';
    background: #000000a8;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.about_detail {
    padding: 60px 0;
}

.about_info {
    text-align: center;
    padding: 40px;
    border-left: 1px solid black;
    background: #f7f6f6;
}

.about_detail .row {
    justify-content: center;
}

.about_info {
    margin-top: 20px;
}

.about_info img {
    width: 80px;
    margin-bottom: 20px;
}

.in-left {
    animation: fadeInLeft 1s ease-in-out;
}

.in-right {
    animation: fadeInRight 1s ease-in-out;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



/* about styling end */
/* info box styling */
.form-control {
    padding: 10px;
    border: 1px solid #00000024;
    border-radius: unset;
}

input.form-control.sub_btn:hover {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
}

input.form-control.sub_btn {
    width: 200px;
    padding: 10px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: #fff;
    border: 1px solid transparent;
    transition: all 0.5s;
}

input.form-control.sub_btn:hover {
    background: #fff;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.information_box {
    padding: 80px 0;
}

/*privacy-policy start*/
.privacy__section {
    position: relative;
    height: 400px;
    background-image: url(../image/privacybanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin-top: 0;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.privacy__section::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: -1;
}

.privacy-policy {
    padding: 40px 0;
}

.privacy-policy p {
    margin-bottom: 10px;
}

.privacy-policy a {
    color: var(--secondary-color);
}

.privacy__section .banner__text h1 {
    color: #fff;
    text-transform: uppercase;
}

.banner__text h1 {
    font-size: 45px;
    text-transform: uppercase;
}

.banner__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    width: 80%;
    transform: translate(-50%, -50%);
}

/* privacy styling end */
/* terms styling start */
.terms__section {
    position: relative;
    height: 350px;
    background-image: url(../image/termsbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin-top: 0;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.terms__section::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: -1;
}

.terms-conditions p {
    margin-bottom: 10px;
}

.terms-conditions {
    padding: 40px 0;
}

.terms__section .banner__text h1 {
    color: #fff;
    text-transform: uppercase;
}

/* terms styling end */
/* footer styling */

.footer {
    background-color: var(--primary-color);
    padding: 40px 0;
}

/*END FOOTER SOCIAL DESIGN*/
.single_footer h4 img {
    max-width: 150px;
}


.single_footer h4 {
    color: #fff;
    margin-top: 0;
    margin: 20px 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
}

/* .single_footer h4::after {
    content: "";
    display: block;
    height: 2px;
    width: 40px;
    background: #fff;
    margin-top: 20px;
} */
.single_footer.single_footer_menu ul {
    display: flex;
    gap: 20px;
}

.single_footer.single_footer_menu {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    gap: 20px;
}

.single_footer.single_footer_address {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    gap: 20px;
}

.single_footer p {
    color: var(--secondary-color);
    text-transform: uppercase;
    margin-top: 21px;
}

.single_footer ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.single_footer ul li {
    font-weight: 400;
    color: #fff;
    line-height: 28px;
    border-right: 1px solid #fff;
    padding-right: 10px;
}

.single_footer ul li a {
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 28px;
    font-size: 15px;
    text-transform: capitalize;
}

.email ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.single_footer ul li a:hover {
    color: var(--secondary-color);
}

.single_footer_address ul li {
    color: #fff;
    font-size: 15px;
}

.single_footer_address ul li span {
    font-weight: 400;
    color: #fff;
    line-height: 28px;
}

.contact_social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

/*START SOCIAL PROFILE CSS*/
.social_profile {
    margin-top: 10px;
}

.social_profile ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.social_profile ul li {
    float: left;
    border: unset;
    padding: unset;
}

.social_profile ul li a {
    text-align: center;
    border: 0px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    margin: 0px 5px;
    font-size: 18px;
    color: var(--primary-color);
    border-radius: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
    background: #fff;
    border: 1px solid var(--primary-color);
}


.social_profile ul li a:hover {
    background: var(--secondary-color);
    border: 1px solid #fff;
    color: #fff;
    border: 0px;
}

/*END SOCIAL PROFILE CSS*/
.copyright {
    margin-top: 40px;
    padding-top: 40px;
    color: #fff;
    font-size: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    text-align: center;
}

.copyright a {
    color: #fff;
    transition: all 0.2s ease 0s;
}

.copyright a:hover {
    color: var(--primary-color);
}

/* footer styling end */


/* /cookie start/ */
.cookie-alert {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    left: 0;
}

.cookie-alert .btn {
    color: #fff;
    background-color: var(--primary-color);
    border-color: #ffffff;
}

.cookie-alert .btn:hover {
    color: var(--primary-color);
    background-color: #fff;
    border-color: var(--primary-color);
}

.cookie-alert.show {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

a.btn.btn-primary.setting-cookies {
    background: transparent;
    color: #000;
    text-decoration: underline;
    padding-bottom: 0;
    margin-right: 14px;
    border: none;
}

a.btn.btn-primary.setting-cookies:hover {
    color: var(--primary-color);
    text-decoration-color: var(--primary-color);
}

/* 
/cookie end/ */